@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #E5EDF1;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #96C2DB;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#logo {
    display: flex;
    justify-content: left;
}

#searchInput, #searchBtn {
    height: 30px;
    border-radius: 7px;
}

#searchInput {
    cursor: text;
    background-color: #E5EDF1;
}

#searchBtn {
    cursor: pointer;
    background-color: #E5EDF1;
    font-weight: bold;
}

#searchBtn:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
     rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.stats-container {
    display: flex;
    align-items: stretch;
    background-color: #96C2DB;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    border-color: black;
    border: 5px solid;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

#button-container button {
    background-color: #96C2DB;
    font-family: 'Cabin';
    border: none;
    padding: 1.5%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
    font-size: large;
}

h2, #description-container {
    text-align: center;
}